/*----------- variable css start here ------------------*/
.animate-1 {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.animate-2 {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.animate-3 {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

/*----------- affilliations css start here ------------------*/
.affilliation-box .five-strength-box .strength-box {
	margin-top: 100px;
}

.affilliation-box .five-strength-box .strength-box .copy-box .h2 {
	margin: 0 0 15px 30px;
}

.affilliation-box .five-strength-box .strength-box .copy-box .h2:before {
	position: absolute;
	left: -40px;
	top: 0;
	content: url(../images/grow.png);
}

.affilliation-box .five-strength-box .strength-box.strength-even-box {
	margin-top: 25px;
}

.affilliation-box .five-strength-box .strength-box .copy-box .tisa .h4 {
	margin: 25px 0 0 0;
}

.affilliation-box .five-strength-box .strength-box .copy-box .tisa ul {
	margin: 0;
	padding: 0;
}

.affilliation-box .five-strength-box .strength-box .copy-box .tisa ul li {
	list-style: none;
	display: list-item;
	padding: 15px 20px 15px 20px;
	font-family: "work_sansregular";
	font-size: 15px;
	color: #000000;
	position: relative;
}

.affilliation-box .five-strength-box .strength-box .copy-box .tisa ul li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 20px;
	width: 8px;
	height: 8px;
	background-color: #59abdf;
	border-radius: 100px;
}

/*----------- responsive css start here ------------------*/
@media only screen and (max-width: 767px) {
	.affilliation-box .five-strength-box .strength-box.strength-even-box {
		margin-top: 0;
	}

	.affilliation-box .five-strength-box .strength-box {
		margin-top: 25px;
	}

	.affilliation-box .five-strength-box .strength-box .copy-box .h2 {
		margin: 30px 0 15px 0;
	}

	.affilliation-box .five-strength-box .strength-box .copy-box .h2:before {
		left: 50%;
		top: -30px;
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 567px) {
	.affilliation-box .five-strength-box .strength-box .copy-box .tisa ul li:before {
		left: 50%;
		transform: translatex(-50%);
		margin-top: 0px;
	}

	.affilliation-box .five-strength-box .strength-box .copy-box .tisa .h4 {
		margin: 25px 0 25px 0;
	}
}