/*----------- variable css start here ------------------*/
.animate-1 {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.animate-2 {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.animate-3 {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

/*----------- all courses css start here ------------------*/
.blue-map-box .map-details-box .main-box .left .copy-box .all-content.courses .p:nth-child(odd) {
	margin: 0 0 25px 0;
}

.blue-map-box .map-details-box .main-box .left .copy-box .all-content .copy-content .pic {
	margin-bottom: 25px;
}

.blue-three-column-box ul {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blue-three-column-box ul li {
	width: calc(33.33% - 5px);
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	vertical-align: top;
	margin-bottom: 20px;
}

.blue-three-column-box ul li .card-box .first-box {
	background-color: #ffffff;
	border: dashed 2px #59abdf;
	border-radius: 100px;
	padding: 10px;
	width: 168px;
	height: 168px;
	transition: all 3s;
	transition-timing-function: ease-in-out;
	position: relative;
}

.blue-three-column-box ul li .card-box .first-box .second-box {
	background-color: #59abdf;
	border-radius: 100px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blue-three-column-box ul li .card-box .h3 {
	text-align: left;
	color: #000000;
	padding: 15px 30px 15px 0;
}

.blue-three-column-box ul li .card-box .p {
	text-align: left;
	padding: 0 30px 0 0;
}

.blue-three-column-box ul li .card-box:hover .first-box .second-box.one {
	background-color: #4b932c;
}

.blue-three-column-box ul li .card-box:hover .first-box .second-box.two {
	background-color: #ffaa3b;
}

.blue-three-column-box ul li .card-box:hover .first-box .second-box.three {
	background-color: #ec4f8c;
}

.blue-four-column-box ul {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blue-four-column-box ul li {
	width: calc(25% - 5px);
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	vertical-align: top;
	margin-bottom: 20px;
}

.blue-four-column-box ul li .card-box .first-box {
	background-color: #ffffff;
	border: dashed 2px #59abdf;
	border-radius: 100px;
	padding: 10px;
	width: 168px;
	height: 168px;
	transition: all 3s;
	transition-timing-function: ease-in-out;
	position: relative;
}

.blue-four-column-box ul li .card-box .first-box .second-box {
	background-color: #59abdf;
	border-radius: 100px;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blue-four-column-box ul li .card-box .h3 {
	text-align: left;
	color: #000000;
	padding: 15px 30px 15px 0;
}

.blue-four-column-box ul li .card-box .p {
	text-align: left;
	padding: 0 30px 0 0;
}

.blue-four-column-box ul li .card-box:hover .first-box .second-box.one {
	background-color: #4b932c;
}

.blue-four-column-box ul li .card-box:hover .first-box .second-box.two {
	background-color: #ffaa3b;
}

.blue-four-column-box ul li .card-box:hover .first-box .second-box.three {
	background-color: #ec4f8c;
}

.blue-four-column-box ul li .card-box:hover .first-box .second-box.four {
	background-color: #2d3691;
}

.blue-four-column-box ul li .card-box .first-box .second-box.one .icon1 img {
	width: 73px;
	height: 80px;
}

.blue-four-column-box ul li .card-box .first-box .second-box.two .icon2 img {
	width: 73px;
	height: 80px;
}

.blue-four-column-box ul li .card-box .first-box .second-box.three .icon3 img {
	width: 80px;
	height: 75px;
}

.blue-four-column-box ul li .card-box .first-box .second-box.four .icon3 img {
	width: 49px;
	height: 80px;
}

.blue-three-column-box ul li .card-box .first-box .second-box.one .icon1 img {
	width: 80px;
	height: 61px;
}

.blue-three-column-box ul li .card-box .first-box .second-box.two .icon2 img {
	width: 88px;
	height: 56px;
}

.blue-three-column-box ul li .card-box .first-box .second-box.three .icon3 img {
	width: 60px;
	height: 80px;
}

.blue-four-column-box.ggc4 ul li .card-box .first-box .second-box.one .icon1 img {
	width: 68px;
	height: 80px;
}

.blue-four-column-box.ggc4 ul li .card-box .first-box .second-box.two .icon2 img {
	width: 80px;
	height: 72px;
}

.blue-four-column-box.ggc4 ul li .card-box .first-box .second-box.three .icon3 img {
	width: 80px;
	height: 80px;
}

.blue-four-column-box.ggc4 ul li .card-box .first-box .second-box.four .icon3 img {
	width: 57px;
	height: 80px;
}

.blue-three-column-box.saturday3 ul li .card-box .first-box .second-box.one .icon1 img {
	width: 72px;
	height: 80px;
}

.blue-three-column-box.saturday3 ul li .card-box .first-box .second-box.two .icon2 img {
	width: 88px;
	height: 56px;
}

.blue-three-column-box.saturday3 ul li .card-box .first-box .second-box.three .icon3 img {
	width: 60px;
	height: 80px;
}

.blue-three-column-box.mt-100 ul li:first-child .card-box .first-box .second-box.one .icon1 img {
	width: 77px;
	height: 80px;
}

.blue-three-column-box.mt-100 ul li:nth-child(2) .card-box .first-box .second-box.two .icon2 img {
	width: 80px;
	height: 43px;
}

.blue-three-column-box.mt-100 ul li:nth-child(3) .card-box .first-box .second-box.three .icon3 img {
	width: 60px;
	height: 80px;
}

.blue-three-column-box.mt-100 ul li:nth-child(4) .card-box .first-box .second-box.three .icon3 img {
	width: 80px;
	height: 75px;
}

.blue-three-column-box.mt-100 ul li:nth-child(5) .card-box .first-box .second-box.two .icon3 img {
	width: 80px;
	height: 62px;
}

.blue-three-column-box.mt-100 ul li:nth-child(6) .card-box .first-box .second-box.one .icon3 img {
	width: 80px;
	height: 78px;
}

.curriculum-box .curriculum-list ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.curriculum-box .curriculum-list ul li {
	list-style: none;
	width: calc(33.33% - 5px);
	display: inline-flex;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	vertical-align: top;
	padding: 20px;
	position: relative;
}

.curriculum-box .curriculum-list ul li .picture-box {
	width: 100%;
	display: flex;
}

.curriculum-box .curriculum-list ul li .picture-box .blue-box {
	width: 90%;
	height: 60px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #59abdf;
	display: flex;
	align-items: center;
	padding: 30px 0 30px 10px;
	margin: 30px 0 30px -10px;
}

.curriculum-box .curriculum-list ul li .picture-box .blue-box .copy {
	color: #ffffff;
	padding-left: 10px;
}

.curriculum-box .curriculum-list ul li .picture-box .first-box {
	border: dashed 2px #59abdf;
	padding: 10px;
	width: 100%;
	position: relative;
	border-radius: 15px;
}

.curriculum-box .curriculum-list ul li .picture-box .first-box .second-box .h3 {
	padding: 20px 0 0 10px;
	clear: both;
}

.curriculum-box .curriculum-list ul li .picture-box .first-box .second-box .copy-box {
	padding-left: 10px;
}

.curriculum-box .curriculum-list ul li .picture-box:hover .blue-box {
	background-color: #2d3691;
}

.director-box.baby-mom .right {
	margin-top: 0;
}

.school-copy .p {
	margin-bottom: 15px;
}

.school-copy-half .paperpin-box {
	position: relative;
}

.school-copy-half .paperpin-box .paperpin {
	position: absolute;
	top: 0;
	right: 0;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content {
	width: 100%;
	max-width: 300px;
	background-color: #ffffff;
	-webkit-box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2);
	box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2);
	position: relative;
	margin: 0px auto;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content:before {
	content: url(../images/paperpin.svg);
	left: 50%;
	transform: translateX(-50%);
	top: -90px;
	position: absolute;
	z-index: 1;
	width: 41px;
	height: 100%;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .header {
	background-color: #0071cd;
	padding: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .header .copy {
	color: #ffffff;
	font-family: "work_sanssemibold";
	font-size: 20px;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .points {
	padding: 20px;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .points ul {
	margin: 0;
	padding: 20px;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .points ul li {
	list-style: decimal;
	display: list-item;
	color: #000000;
	font-family: "work_sansregular";
	font-size: 16px;
	padding: 5px 0 5px 0;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .only-copy {
	padding: 20px;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content .only-copy .p {
	color: #000000;
	font-family: "work_sansregular";
	font-size: 13px;
	padding: 2px 0 2px 0;
}

.school-copy-half .p {
	margin-bottom: 15px;
}

.school-copy-half .bold {
	font-weight: bold;
}

.school-copy-half .paperpin-box .paperpin .paperpin-content:hover .header {
	background-color: #ec4f8c;
}

.toddler-preschool-box .activity-list ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.toddler-preschool-box .activity-list ul li {
	list-style: none;
	width: calc(25% - 5px);
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	vertical-align: top;
}

.toddler-preschool-box .activity-list ul li .picture-box {
	position: relative;
	display: flex;
	justify-content: center;
}

.toddler-preschool-box .activity-list ul li .picture-box .first-box {
	width: 89%;
	background-color: #ffffff;
	border-radius: 15px;
	overflow: hidden;
}

.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box {
	position: absolute;
	bottom: 10px;
}

.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag .copy {
	position: absolute;
	font-family: "work_sansregular";
	font-size: 24px;
	color: #ffffff;
	width: 100%;
	text-align: center;
}

.toddler-preschool-box .activity-list ul li .copy-box {
	text-align: left;
	margin: 15px;
}

.toddler-preschool-box .activity-list ul li .copy-box .p {
	font-family: "work_sansregular";
	font-size: 15px;
	color: #000000;
}

.toddler-preschool-box .activity-list ul li:hover .hovereffect {
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.toddler-preschool-box .activity-list ul li:hover .hovereffect .overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(45, 54, 145, 0.3);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.toddler-preschool-box .activity-list ul li:hover .hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.toddler-preschool-box .activity-list ul li:hover .hovereffect img {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.toddler-preschool-box .activity-list ul li:hover .hovereffect .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
}

.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag .picture img {
	width: 290px;
	height: 42px;
}

/*----------- all table css starts here ------------------*/
.mt-100 {
	margin-top: 100px;
}

table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	color: #000000;
}

.table thead th {
	vertical-align: top;
	text-align: center;
	background-color: #ffffff;
}

.table td {
	padding: 15px;
	vertical-align: top;
	font-family: "work_sansregular";
	font-size: 18px;
	color: #000000;
}

.table th {
	padding: 20px;
	vertical-align: top;
	font-family: "work_sansregular";
	font-size: 18px;
	color: #000000;
	border-bottom: solid 10px #ebf5fb;
}

.table thead th span {
	display: block;
	font-size: 13px;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #ffffff;
}

.table-info {
	background-color: #ffffff;
	text-align: center;
}

.table-info > td {
	border-top: solid 10px #ebf5fb;
}

.table-info-no-border > td {
	border-top: none;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 50px;
}

.table thead th:first-child {
	text-align: left;
	width: 30%;
}

.table.table-striped tbody tr:nth-of-type(even).table-info > td:first-child {
	text-align: center;
}

tbody tr.table-info > td:first-child {
	text-align: left;
}

.table-small-info {
	background-color: #ffffff;
	text-align: center;
}

.table-small-info > td {
	border-bottom: solid 1px #a1a1a1;
	vertical-align: middle;
}

.table.table-striped tbody tr:nth-of-type(even).table-small-info > td:first-child {
	text-align: center;
}

tbody tr:last-child.table-small-info > td {
	border-bottom: none;
}

.no-brd {
	border-bottom: none;
}

.table-small-info > td.no-brd {
	border-bottom: none;
}

tbody tr.table-small-info > td:first-child {
	text-align: left;
}

.table-small-info1 {
	background-color: #ffffff;
	text-align: center;
}

.table-small-info1 > td {
	border-bottom: solid 1px #a1a1a1;
	vertical-align: middle;
}

tbody tr.table-small-info1 > td:first-child {
	text-align: center;
}

/*----------- all video css starts here ------------------*/
.videoWrapper {
	position: relative;
	width: 100%;
	height: 0;
}

.videoWrapper169 {
	padding-top: 70%;
}

.videoWrapper43 {
	padding-top: 75%;
}

.videoIframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.videoPoster {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	outline: none;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-size: cover;
	text-indent: -999em;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: opacity 800ms, height 0s;
	-moz-transition: opacity 800ms, height 0s;
	transition: opacity 800ms, height 0s;
	-webkit-transition-delay: 0s, 0s;
	-moz-transition-delay: 0s, 0s;
	transition-delay: 0s, 0s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.videoPoster:before {
	content: '';
	position: absolute;
	width: 55px;
	height: 55px;
	background-color: #ffffff;
	border: solid 2px #ffffff;
	border-radius: 100%;
	-webkit-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	transition: border-color 300ms;
}

.videoPoster:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	margin: 0 0 0 3px;
	border-left: 18px solid #ec4f8c;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	-webkit-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	transition: border-color 300ms;
}

.videoPoster:hover:before, .videoPoster:focus:before {
	background-color: #0071cd;
	border: solid 2px #ffffff;
}

.videoPoster:hover:after, .videoPoster:focus:after {
	border-left: 18px solid #ffffff;
}

.videoWrapperActive .videoPoster {
	opacity: 0;
	height: 0;
	-webkit-transition-delay: 0s, 800ms;
	-moz-transition-delay: 0s, 800ms;
	transition-delay: 0s, 800ms;
}

.tution-fee-box {
	display: block;
}

.tution-fee-box-mob {
	display: none;
}

.tution-fee-box-mob .table-mob {
	width: 100%;
	color: #000000;
}

.tution-fee-box-mob .table-mob {
	vertical-align: top;
	text-align: left;
	background-color: #ffffff;
	margin: 15px 0;
}

.tution-fee-box-mob .table-mob td {
	padding: 15px;
	vertical-align: top;
	font-family: "work_sansregular";
	font-size: 15px;
	color: #000000;
	width: 120px;
}

.tution-fee-box-mob .table-mob td span {
	display: block;
	font-size: 13px;
}

.tution-fee-box-mob .p {
	font-size: 15px;
}

.tution-fee-box-mob .table-mob td:first-child {
	font-weight: bold;
}

/*----------- responsive css start here ------------------*/
@media only screen and (min-width: 1140px) and (max-width: 1280px) {
	.videoWrapper169 {
		padding-top: 70%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1139px) {
	.mt-100 {
		margin-top: 120px;
	}

	.videoWrapper169 {
		padding-top: 80%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.blue-four-column-box ul li .card-box .first-box {
		width: 140px;
		height: 140px;
	}

	.blue-four-column-box ul li .card-box .first-box .second-box.one .icon1 {
		width: 60px;
	}

	.blue-four-column-box ul li .card-box .first-box .second-box.two .icon2 {
		width: 60px;
	}

	.blue-four-column-box ul li .card-box .first-box .second-box.three .icon3 {
		width: 60px;
	}

	.blue-four-column-box ul li .card-box .first-box .second-box.four .icon4 {
		width: 60px;
	}

	.school-copy-half .paperpin-box .paperpin .paperpin-content .header .copy {
		font-size: 18px;
	}

	.school-copy-half .paperpin-box .paperpin .paperpin-content .points ul {
		padding: 10px;
	}

	.school-copy-half .paperpin-box .paperpin .paperpin-content .points ul li {
		font-size: 14px;
	}

	.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag .copy {
		font-size: 18px;
	}

	.mt-100 {
		margin-top: 125px;
	}

	.videoWrapper169 {
		padding-top: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.blue-four-column-box ul li {
		width: calc(50% - 5px);
	}

	.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag .copy {
		font-size: 16px;
	}

	.toddler-preschool-box .activity-list ul li .copy-box .p {
		font-size: 14px;
	}

	.toddler-preschool-box .activity-list ul li {
		width: calc(33.33% - 5px);
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.school-copy-half .col-xs-12.one {
		width: 50%;
	}

	.school-copy-half .col-xs-12.two {
		display: none;
	}

	.school-copy-half .col-xs-12.three {
		width: 50%;
	}

	.mt-100 {
		margin-top: 0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.blue-three-column-box ul li .card-box .first-box {
		width: 100px;
		height: 100px;
	}

	.blue-three-column-box ul li .card-box .first-box .second-box.one .icon1 {
		width: 50px;
	}

	.blue-three-column-box ul li .card-box .first-box .second-box.two .icon2 {
		width: 60px;
	}

	.blue-three-column-box ul li .card-box .first-box .second-box.three .icon3 {
		width: 45px;
	}

	.curriculum-box .curriculum-list ul li .picture-box .blue-box {
		width: 98%;
	}

	.curriculum-box .curriculum-list ul li {
		padding: 5px;
	}
}

@media only screen and (max-width: 639px) {
	.tution-fee-box {
		display: none;
	}

	.tution-fee-box-mob {
		display: block;
	}
}

@media only screen and (max-width: 479px) {
	.blue-three-column-box ul li {
		width: 100%;
	}

	.blue-three-column-box ul li .card-box .first-box {
		margin: 0px auto;
	}

	.blue-three-column-box ul li .card-box .h3 {
		text-align: center;
		padding: 15px;
	}

	.blue-three-column-box ul li .card-box .p {
		text-align: center;
		padding: 0;
	}

	.blue-four-column-box ul li {
		width: 100%;
	}

	.blue-four-column-box ul li .card-box .first-box {
		margin: 0px auto;
	}

	.blue-four-column-box ul li .card-box .h3 {
		text-align: center;
		padding: 15px;
	}

	.blue-four-column-box ul li .card-box .p {
		text-align: center;
		padding: 0;
	}

	.school-copy .p {
		text-align: center;
	}

	.curriculum-box .curriculum-list ul li {
		width: 100%;
	}

	.curriculum-box .curriculum-list ul li {
		margin-bottom: 25px;
	}

	.toddler-preschool-box .activity-list ul li {
		width: calc(50% - 5px);
	}

	.toddler-preschool-box .activity-list ul li .picture-box .arrow-tag-box .tag .copy {
		font-size: 14px;
	}

	.school-copy-half .row.main {
		display: flex;
		flex-wrap: wrap;
	}

	.school-copy-half .row.main .col-xs-12.one {
		order: 1;
	}

	.school-copy-half .row.main .col-xs-12.two {
		display: none;
	}

	.school-copy-half .row.main .col-xs-12.three {
		order: 0;
	}

	.school-copy-half .p {
		text-align: center;
	}

	.school-copy-half .paperpin-box .paperpin {
		position: relative;
		margin-bottom: 40px;
	}

	.mt-100 {
		margin-top: 0;
	}

	.curriculum-box .curriculum-list ul li .picture-box .first-box {
		min-height: auto;
	}

	.curriculum-box .curriculum-list ul {
		display: block;
	}
}